@page "/_pc/mining/myminer"
@inherits MiningComponentBase
<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value=@PageTitle />
<PageContainer Title=@PageTitle>
    <ChildContent>
        <Card>
            <ChildContent>
                <GridContent>

                    @if (this.Miner.IsNotNull())
                    {
                        var rm = this.Miner.RegIndex % 100000;
                        var rem = rm;
                        var rem2 = OX.Ledger.Blockchain.Singleton.Height % 100000;
                        if (rem2 > rem) rem += 100000;
                        var sub = rem - rem2;
                        <Row Gutter="24">

                            <div>
                                <Divider Orientation="left" Style="font-weight:bold">@this.WebLocalString("我的矿机","My Miner")</Divider>
                                <ul>
                                    <li>
                                        <Paragraph>@this.WebLocalString("种子地址","Miner Seed Address")  :  <Text Strong Copyable>@this.SeedAddress.ToAddress()</Text></Paragraph>
                                </li>
                                <li>
                                    <Paragraph>@this.WebLocalString($"出矿倒计时:  {sub}区块", $"Intrest Countdown:  {sub} blocks")</Paragraph>
                                </li>
                            </ul>
                            <Divider Orientation="left" Style="font-weight:bold">@this.WebLocalString("种子矿机","Seed Miner")</Divider>
                            <ul>
                                <li>
                                    <Space>
                                        <SpaceItem><Paragraph>@this.WebLocalString("持有地址","Holder Address")  :  <Text Strong Copyable>@this.Miner.ParentHolder.ToAddress()</Text></Paragraph></SpaceItem>
                                        <SpaceItem> <Paragraph>@this.WebLocalString("种子地址","Seed Address")  :  <Text Strong Copyable>@this.Miner.ParentHolder.GetMutualLockSeed().ToAddress()</Text></Paragraph></SpaceItem>
                                    </Space>
                                </li>
                            </ul>
                            <Divider Orientation="left" Style="font-weight:bold">@this.WebLocalString("叶子矿机","Leaf Miner")</Divider>
                            @if (this.Leafs.IsNotNullAndEmpty())
                                {
                                    <ul>
                                        @foreach (var l in this.Leafs)
                                        {
                                            if (this.Provider.MutualLockNodes.TryGetValue(l.GetMutualLockSeed(), out MutualNode LeafHolder))
                                            {
                                                var leafrem = LeafHolder.RegIndex % 100000;
                                                <li>
                                                    <Space>
                                                        <SpaceItem> <Paragraph>@this.WebLocalString($"({leafrem})持有地址:", $"({leafrem})Holder Address:") <Text Strong Copyable>@LeafHolder.HolderAddress.ToAddress()</Text></Paragraph></SpaceItem>
                                                    <SpaceItem> <Paragraph>@this.WebLocalString("种子地址","Seed Address")  :  <Text Strong Copyable>@LeafHolder.HolderAddress.GetMutualLockSeed().ToAddress()</Text></Paragraph></SpaceItem>
                                                </Space>

                                            </li>
                                            }
                                        }

                                    </ul>
                                }
                            </div>

                        </Row>
                    }
                    else
                    {
                        <Row Gutter="24">
                            <GridCol Class="col" Span="4">
                            </GridCol>
                            <GridCol Class="col" Span="16">
                                <Result Status="warning"
                                    Title="@this.WebLocalString("你还没有矿机","You don't have a mining machine")" />
                            </GridCol>
                            <GridCol Class="col" Span="4">
                            </GridCol>

                        </Row>
                        <Row Gutter="24">
                            <GridCol Class="col" Span="4">
                            </GridCol>
                            <GridCol Class="col" Span="16">
                                <Search Placeholder="@this.WebLocalString("输入种子地址","input seed address")" Size="@InputSize.Large" EnterButton="@this.WebLocalString("去注册矿机","Go Register Miner")" @bind-Value="@this.RegSeed" OnSearch="OnRegister" />
                            </GridCol>
                            <GridCol Class="col" Span="4">
                            </GridCol>
                        </Row>
                    }
                    <Row Gutter="24">
                        <div>
                        <Divider Orientation="left" Style="font-weight:bold">@this.WebLocalString("计算种子地址","Calculate Seed Address")</Divider>
                        <ul>
                                <li> <Search Style="min-width:600px;" Placeholder="@this.WebLocalString("输入持有矿机的私钥地址或以太坊地址","Enter the private key address or Ethereum address for holding the mining machine")" Size="@InputSize.Small" EnterButton="@this.WebLocalString("获取种子地址","Get Seed Address")" @bind-Value="@this.HA" OnSearch="Cal" /></li>
                                <li>
                                    <Space>
                                        <SpaceItem><Paragraph>@this.WebLocalString("种子地址","Seed Address")  :  <Text Strong Copyable>@this.HS</Text></Paragraph></SpaceItem>
                                    </Space>
                                </li>
                        </ul>
                        </div>
                    </Row>
                    
                </GridContent>
            </ChildContent>
        </Card>
    </ChildContent>
</PageContainer>
